<div class="content aboutPage">
  	<img id="portrait" src="images/portrait.png" alt="Portrait">

	  <h1 id="titles"><span id="designer">Designer</span><br/>
	  <span id="developer">Developer</span><span style="border-bottom: 1px solid; cursor: pointer;" ng-click="testFunc()"> and . . .</span><br/>
	  <span id="variable"></span></h1>

	  <p class="readMore">Hello, my name is Bill Mauro Jr. and I'm the web designer and developer at Maslow Lumia Bartorillo Advertising in Wilkes-Barre, PA. I live about 75 miles away in Williamsport with my wife Venessa (+ cats Ralph and Tigger). When I'm not working I like to <a href="#portfolio/Custom%20Jazzmaster">play the guitar</a> and make paintings, some of which you can see in my <a href="#portfolio">portfolio.</a><br>
	  I've been developing with Wordpress for several years now, but have recently begun branching out into the world of MVC's via Joomla and Angular.js.<br>
	  Thanks for visiting. Poke around, try to leave things generally where you found them, and <a href="#contact">send me a message</a> on your way out if you'd like.
	  </p>
	  <!-- <button ng-click="testFunc()" id="aboutButton">More</button> -->
</div>